<div *ngIf="gameState === 'stopped'">
  <h2>Select Question Set</h2>
  <select title="Select Question Set" [(ngModel)]="selectedQuestionSetId">
    <option value="">Select a question set</option>
    <option *ngFor="let setId of questionSets" [value]="setId">{{ setId }}</option>
  </select>

  <button (click)="createGame()">Create Game</button>
</div>

<div *ngIf="gameState === 'waiting'">
  <h2>Waiting Room</h2>
  <p>Game Code: {{ gameCode }}</p>
  <h3>Players:</h3>
  <ul>
    <li *ngFor="let player of players">{{ player.name }}</li>
  </ul>
  <button (click)="startGame()">Start Game</button>
</div>

<div *ngIf="gameState === 'started'">
  <h2>Round {{ roundNumber }}</h2>
  <h2>{{currentQuestion?.level}} Category {{currentQuestion?.category}}</h2>
  <h2>Question {{ currentQuestion?.question }}</h2>
  <p>Time Remaining: {{ timer }}</p>
  <button (click)="nextQuestion()">Next Question</button>
  <h2>Leaderboard</h2>
  <ul>
    <li *ngFor="let player of leaderboard">
      {{ player.name }} - {{ player.score }} points
    </li>
  </ul>
</div>

<div *ngIf="gameState === 'paused'">
  <p>Game Paused</p>
  <button (click)="resumeGame()">Resume Game</button>
</div>

<div *ngIf="gameState === 'ended'">
  <h2>Game Over</h2>
  <h3>Final Leaderboard</h3>
  <ol>
    <li *ngFor="let player of leaderboard">
      {{ player.name }} - {{ player.score }} points
    </li>
  </ol>
  <button (click)="createGame()">Start New Game</button>
</div>