<div class="lobby-container">
    <header class="lobby-header">
      <h1 class="lobby-title">MMCL Cup IT Quiz Show</h1>
      <p class="player-welcome">Welcome, {{ playerName }}!</p>
    </header>
  
    <main class="lobby-main">
      <div class="game-join-section" >
        <h2 class="section-title">Join a Game</h2>
        <div class="input-group">
          <input 
            type="text" 
            placeholder="Enter Game ID" 
            [(ngModel)]="hostWord"
            class="game-id-input"
          >

          <input 
            type="text" 
            placeholder="Enter Your School Name" 
            [(ngModel)]="playerSchool"
            class="game-id-input"
          >

          <input 
            type="text" 
            placeholder="Enter a Nickname" 
            [(ngModel)]="playerNickName"
            class="game-id-input"
          >     
        </div>

        <div class="input-group">
          <br>
        <button 
            (click)="joinGame()" 
            class="join-button"
            [disabled]="!hostWord || !playerNickName || !playerSchool|| isLoading"
          >
            Join Game
          </button>
          <br>
          <button (click)="logout()" class="logout-button">Logout</button>
        </div>
      </div>
      
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="isLoading" class="loading-overlay">
        <div class="loading-spinner"></div>
        <p>Joining game...</p>
      </div>
      
    </main>
  </div>