<div class="lobby-container">
    <h1 class="lobby-title">Kahoot Clone Lobby</h1>
  
    <div *ngIf="!gameId">
      <h3>Create a Game</h3>
      <input type="text" placeholder="Question Set ID" [(ngModel)]="questionSetId">
      <button (click)="createGame(questionSetId)">Create Game</button>
    </div>
  
    <div *ngIf="gameId">
      <h3>Join a Game</h3>
      <input type="text" placeholder="Game ID" [(ngModel)]="gameId"> 
      <button (click)="getGameData(gameId)">Get Game Data</button>
      <button (click)="joinGame()">Join Game</button>
  
      <div *ngIf="gameData && gameData.gameState === 'stopped'">
        <h4>Players in the Lobby:</h4>
        <ul>
          <li *ngFor="let player of gameData.players">{{ player.name }}</li>
        </ul>
      </div>
    </div>
  
    <div *ngIf="isLoading">
      <div class="loading-spinner">Loading...</div>
    </div>
  </div>